@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.header h3{
    color: violet;
    font-family: 'Poppins', sans-serif;
     
}
.header img{
    width: 30px;
    height: 30px;
}

.gymList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media screen and (max-width:576px){
    .gymList{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* tablate Responsive */
@media screen and (min-width:577px) and (max-width:1193px){
    .gymList {

        grid-template-columns: repeat(2, 1fr);

    }

}
/* dextop */
@media screen and (min-width:1193px) {
    .gymList {

        grid-template-columns: repeat(3, 1fr);

    }
}